body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.chat-page{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
}

.col1{
  width: 20%;
  height: 100vh;
}

.col2{
  width: 70%;
  height: 100vh;
}

.text_field{
  padding: 16px;
  margin: 12px 0;
  border: 1px solid #1f1f1f;
  border-radius: 12px;
  color: #eee;
}

.text-input{
  width: 100%;
  height: 36px;
  border-radius: 8px;
  border: none;
}

.sidebar{
  background-color: rgb(56, 57, 58);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.promt-item{
  width: 100%;
  height: 32px;
  font-size: 22px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.welcome-component{
  height: 700px;
  font-size: 32px;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}